  <!-- Page Header -->
  <header class="masthead" style="background-image: url(<%= asset_path 'post-bg.jpg' %>)">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1><%= @episode.title %></h1>
            <h2 class="subheading">Roderick Wilson</h2>
            <span class="meta">Postado em 
              <%= @episode.launch %>
              </span>
          </div>
        </div>
      </div>
    </div>
  </header>


  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>
            <%= @episode.description %>
          </p>
        </div>
      </div>
    </div>
  </article>

  <hr>

  <div>
    <%= link_to 'Editar', edit_episode_path(@episode) %>
  </div>