  <!-- Page Header -->
  <header class="masthead" style="background-image: url(<%= asset_path 'post-bg.jpg' %>)">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1><%= @episode.title %></h1>
            <h2 class="subheading"><%= @episode.subtitle %></h2>
            <span class="meta">Postado em 
              <%= @episode.launch %>
              </span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Dropbox iframe -->
  <div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <%= link_to 'Ouvir no Dropbox', @episode.link.to_s , class:"btn btn-light" , target:"_blank" %>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>
            <%= @episode.description %>
          </p>
        </div>
      </div>
    </div>
  </article>

  <hr>
  <!-- Audio Player -->
  <div>
    <audio src="audo-teste.mp3" controls preload="none">
    <p>Seu nevegador não suporta o elemento audio.</p>
    </audio>
  </div>

  <hr>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <%= link_to 'Editar', edit_episode_path(@episode), class:"btn btn-light" %>
      </div>
    </div>
  </div>