    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <%= link_to "Início", episodes_path, class:"navbar-brand" %>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <%= link_to "Home", episodes_path, class:"nav-link" %>
            </li>
            
            <% if can? :create, @episode %>
              <li class="nav-item">
                <%= link_to "Criar", new_episode_path, class:"nav-link" %>
              </li>
            <% end %>

            <li class="nav-item">
              <%= link_to "Profile", edit_user_registration_path, class:"nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Sign Out", destroy_user_session_path, data: { method: :delete }, class:"nav-link" %>
            </li>
            
            <!--
            <li class="nav-item">
                Contato
            </li>
            -->
          </ul>
        </div>
      </div>
    </nav>
